<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">


      <div class="column">
        <div class="column">
          <div class="footer-column">
            <ul class="link-list">
              <li>
                Contact Information:
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="column">
          <div class="footer-column">
            <ul class="link-list">  
              {{ if isset .Site.Params.footer.email "link" }}
              <li>
                <a href="mailto:{{ .Site.Params.footer.email.link }}" target="_blank">
                  <span class="icon"><i class="fa fa-envelope"></i></span>
                  {{ if isset .Site.Params.footer.email "title" }}
                    {{ .Site.Params.footer.email.title }}
                  {{ else }}
                    Email
                  {{ end }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="column">
          <div class="footer-column">
            <ul class="link-list">
              {{ if isset .Site.Params.footer.linkedin "link" }}
              <li>
                <a href="https://www.linkedin.com/{{ .Site.Params.footer.linkedin.link }}" target="_blank">
                  <span class="icon"><i class="fa fa-linkedin"></i></span>
                  {{ if isset .Site.Params.footer.linkedin "title" }}
                    {{ .Site.Params.footer.linkedin.title }}
                  {{ else }}
                    LinkedIn
                  {{ end }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>

    <div class="column">
      <div class="column">
        <div class="footer-column">
          <ul class="link-list">
            {{ if isset .Site.Params.footer.github "link" }}
            <li>
              <a href="https://github.com/{{ .Site.Params.footer.github.link }}" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
                {{ if isset .Site.Params.footer.github "title" }}
                  {{ .Site.Params.footer.github.title }}
                {{ else }}
                  Github
                {{ end }}
              </a>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>

    </div>
  </div>
</footer>