<div class="sidebar scroll">
  <div class="sidebar-header">
    
    <img src="/images/chicken.png" alt="">
    <a class="sidebar-close" href="javascript:void(0);">
      <i data-feather="x"></i>
    </a>
    
  </div>
  <div class="inner">
    <ul class="sidebar-menu">
      <li class="no-children">
        {{- with .Site.GetPage "home" -}}
        <a href="{{- .RelPermalink -}}">
        {{- end -}}
        <div class="columns">
          <table width="100%"> <!-- class="is-fullwidth" --> 
            <tr>
              <td class="">
                <span class="icon"><i class="fa fa-caret-right"></i></span>
                Home
              </td>
              <td class="has-text-right" >
                  {{/*  <div class="tag-number">{{- .Site.Taxonomies.tags.Alphabetical.Count -}}</div>  */}}
              </td>
            </tr>
          </table>
        </div>
      </a>
      </li>
      <li class="no-children">
        {{- with .Site.GetPage "posts" -}}
        <a href="{{- .RelPermalink -}}">
        {{- end -}}
        <div class="columns">
          <table width="100%"> <!-- class="is-fullwidth" --> 
            <tr>
              <td class="">
                <span class="icon"><i class="fa fa-caret-right"></i></span>
                Posts
              </td>
              <td class="has-text-right" >
                  {{/*  <div class="tag-number">{{- .Site.Taxonomies.tags.Alphabetical.Count -}}</div>  */}}
              </td>
            </tr>
          </table>
        </div>
      </a>
      </li>
    </ul>
  </div>
</div>
